*{
    font-size: 20px;
}
.d-flex{
    display: flex;
}
.conteiner{
    width: 1000px;
    margin: 0 auto;
    /* padding: 55px 34px; */
}
.add-phone{
  margin: 0 auto;
  width: 1000px;
  padding-top: 10px;
}
.dani {
    margin: 25px 62px;
}
 .search{
    margin-top: 45px;
    width: 380px;
}

ul{
  margin-top: 45px;
}
i.far.fa-envelope {
    padding: 0px 16px;
    margin: 0 0 0 -16px;
    border-right: 1px solid olivedrab;
}
.material-icons {
    position: relative;
    top: 4px;
    padding: 0px 7px 0px 12px;
    font-size: 17px;
}






  
  button.btn-primary {
    border-color: #007bff00;
  } 
  .phone-description {
    margin: -38px 0 0 189px;
    line-height: 1;
  }
  .phone-description label {
    width: 95px;
    text-align: left;
    text-decoration-line: underline;
    color: #5a035a;
}

 
.btn-danger {
    border-color: #dc354500;
}
.input-group-prepend {
    margin-left: 21px;
}
.img {
    width: 100px;
}

 
.bb1{
    position:absolute;
    left: 80%;
}
.bb2{
    position: absolute;
    left: 94%;
}
img {
    border-radius: 84px;
    width: 124px;
}