<section>
  <div class="conteiner">
    <div class="add-phone">
      <div class="input-group mb-3 search">
        <div class="input-group-prepend">
          <span
            class="input-group-text"
            id="basic-addon1"
          >
            <i
              class="material-icons"
              style="font-size:24px; color:#464040;"
            >
              search
            </i>
          </span>
          <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Search"
            [(ngModel)]="search"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li
        class="list-group-item phone-item"
        *ngFor="let item of phone  | filterSerch:search"
      >
        <header class="phone-header">
          <div class="d-flex">
            <div class="img">
              <img
                src="{{ item.image }}"
                alt=""
              />

            </div>
            <div class="dani">
              <h5>{{item.title}} {{item.first +' '+ item.last }}</h5>
              <div>
                <span><i class="far fa-envelope"><b> {{ item.email }} </b> </i>
                  <i class="material-icons"> phone </i> {{ item.namberph }}
                </span>
              </div>

            </div>
            <div class="btn-add-group">
              <button
                class="btn btn-outline-dark bb1"
                (click)="onToggleDescription(item)"
              >
                {{item.isDescription ? 'hide': 'show'}} deteils
              </button>

              <button
                class="btn btn-outline-dark bb2"
                (click)="onDeleteContact(item)"
              >
                del
              </button>
            </div>

          </div>
        </header>
        <div
          class="phone-description"
          *ngIf="item.isDescription"
        >
          <label for="age">Age:</label>
          <span id="age">{{item.age}}</span><br>
          <label for="St">Street:</label>
          <span id="St">{{item.street}} </span><br>
          <label for="c">City:</label>
          <span id="c"> {{item.city}}</span><br>
          <label for="pos">Postcode:</label>
          <span id="pos"> {{item.postcode}}</span><br>
          <label for="des">Descrip:</label>
          <span id="des">{{item.description}} </span>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <ng-template #phoneDelModal>
  <div class="modal-body">
    Delete contact?
  </div>
  <footer>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="cancel()"
    >Cancel</button>
    <button
      type="button"
      class="btn btn-success"
      (click)="save()"
    >Save</button>
  </footer>
</ng-template> -->