<section>
  <div class="conteiner">
    <form
      class="new-phone"
      #newPhoneForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="containers">
        <div class="containeis">

          <div class="form-group">
            <p>Gender:</p>
            <label class="radio-inline">
              <input
                type="radio"
                name="title"
                [(ngModel)]="title"
                value="mr."
              >mr.
            </label>
            <!-- [checked]="(title=='mr.')" -->
            <label class="
                radio-inline">
              <input
                type="radio"
                name="title"
                [(ngModel)]="title"
                value="mrs."
              >mrs.
            </label>
            <!-- / -->
            <label class="radio-inline">
              <input
                type="radio"
                name="tit"
                [(ngModel)]="image"
                value="assets/images.jpeg"
              >mrdfdgfg.
            </label>
            <!-- / -->
          </div>
          <div class="form-group">
            <p>Додати:</p>
            <label class="checkbox-inline">
              <input
                ng-model="image"
                type="checkbox"
                [checked]=true
                [(ngModel)]="image"
                value='assets/images.jpeg'
              >
              <img
                src="assets/images.jpeg"
                alt="phone"
              >
            </label>

            <label class="
            checkbox-inline">
              <input
                ng-model="image"
                type="checkbox"
                [(ngModel)]="image"
                value="assets/images (1).jpeg"
              >
              <img
                src="assets/images (1).jpeg"
                alt="phone"
              >
            </label>
          </div>

        </div>
        <div>
          <!-- required -->
          <div class="vcbc">
            <!-- <label
              for="imges"
              class="uploadButton"
              class="inline"
            >Загрузить файл</label>
            <p><input
                type="file"
                class="inline"
                ng-model="file"
                [(ngModel)]="image"
                multiple
                accept="image/*,image/jpeg image/jpeg, .jpeg image/png, .png"
              ></p> -->
            <!-- <input
              type="file"
              name="file"
              ngModel
              accept="image/*"
              (change)="onChange($event)"
            > -->
            <!-- <input
              type="file"
              [(ngModel)]="image"
              ng-model="editItem._attachments_uri.image"
              accept="image/*"
            /> -->
            <!-- *** -->


            <!-- <div class="file-field md-form">
              <div
                mdbBtn
                floating="true"
                size="md"
                color="amber"
                mdbWavesEffect
              >
                <i
                  class="fa fa-cloud-upload"
                  aria-hidden="true"
                ></i>
                <input
                  type="file"
                  mdbFileSelect
                  (uploadOutput)="onUploadOutput($event)"
                  [uploadInput]="uploadInput"
                >
              </div>
              <div class="file-path-wrapper mt-3">
                <input
                  class="file-path"
                  type="text"
                  placeholder="Upload your file"
                  [value]="showFiles()"
                >
              </div>
            </div> -->
            <!-- *** -->
          </div>

        </div>
        <div class="form-group box">
          <input
            type="text"
            name="first"
            class="form-control boxes"
            placeholder="First Name"
            #newPhoneFirst="ngModel"
            [(ngModel)]="first"
            required
          />

          <input
            type="text"
            name="last"
            class="form-control boxes"
            #newPhoneLast='ngModel'
            placeholder="Last Name"
            [(ngModel)]="last"
            required
          />

          <input
            type="text"
            name="eemail"
            class="form-control boxes"
            #newPhoneEmail='ngModel'
            placeholder="Email"
            [(ngModel)]="email"
          />

          <input
            type="text"
            name="namberph"
            class="form-control boxes"
            #newPhoneNamber='ngModel'
            placeholder="Phone namber"
            [(ngModel)]="namberph"
            required
          />

          <input
            type="text"
            name="age"
            class="form-control boxes"
            #newPhoneAge='ngModel'
            placeholder="Age"
            [(ngModel)]="age"
          />

          <input
            type="text"
            name="street"
            class="form-control boxes"
            #newPhoneStreet='ngModel'
            placeholder="Street"
            [(ngModel)]="street"
          />

          <input
            type="text"
            name="city"
            class="form-control boxes"
            #newPhoneCity='ngModel'
            placeholder="City"
            [(ngModel)]="city"
          />

          <input
            type="text"
            name="postcode"
            class="form-control boxes"
            #newPhonePostcode='ngModel'
            placeholder="Postcode"
            [(ngModel)]="postcode"
          />
        </div>
        <div class="input-group textarea">
          <div class="input-group-prepend">
            <span class="input-group-text">Add a note
              <i class="material-icons note">
                notes
              </i>
            </span>
            <textarea
              class="form-control"
              name="description"
              #newPhoneDescription='ngModel'
              [(ngModel)]="description"
              aria-label="With textarea"
            ></textarea>
          </div>

        </div>
      </div>
      <footer>
        <button
          class="btn btn-default"
          type="submit"
          [disabled]="newPhoneForm.invalid"
          (click)="startUpload()"
        >
          Записати <i class="material-icons">
            create
          </i>
        </button>
      </footer>
    </form>
  </div>
</section>