<section>
  <div class="conteiner">
    <form
      class="new-phone"
      #newPhoneForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="containers form-group">

        <div class="form-group box">
          <input
            type="text"
            name="first"
            class="form-control boxes"
            placeholder="First Name"
            #newPhoneFirst="ngModel"
            [(ngModel)]="first"
            required
          />

          <input
            type="text"
            name="last"
            class="form-control boxes"
            #newPhoneLast='ngModel'
            placeholder="Last Name"
            [(ngModel)]="last"
            required
          />

          <input
            type="text"
            name="eemail"
            class="form-control boxes"
            #newPhoneEmail='ngModel'
            placeholder="Email"
            [(ngModel)]="email"
          />

          <input
            type="text"
            name="namberph"
            class="form-control boxes"
            #newPhoneNamber='ngModel'
            placeholder="Phone namber"
            [(ngModel)]="namberph"
            required
          />

          <input
            type="text"
            name="age"
            class="form-control boxes"
            #newPhoneAge='ngModel'
            placeholder="Age"
            [(ngModel)]="age"
          />

          <input
            type="text"
            name="street"
            class="form-control boxes"
            #newPhoneStreet='ngModel'
            placeholder="Street"
            [(ngModel)]="street"
          />

          <input
            type="text"
            name="city"
            class="form-control boxes"
            #newPhoneCity='ngModel'
            placeholder="City"
            [(ngModel)]="city"
          />

          <input
            type="text"
            name="postcode"
            class="form-control boxes"
            #newPhonePostcode='ngModel'
            placeholder="Postcode"
            [(ngModel)]="postcode"
          />
        </div>

        <div class="form-group sub container">

          <h1>Gender:</h1>
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              name="title"
              [(ngModel)]="image"
              value="assets/user-1.png"
              class="custom-control-input"
              id="defaultInline1"
              name="inlineDefaultRadiosExample"
              mdbInputDirective
            >
            <label
              class="custom-control-label"
              for="defaultInline1"
            >Mr.</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              name="title"
              [(ngModel)]="image"
              value="assets/user-2.png"
              class="custom-control-input"
              id="defaultInline2"
              name="inlineDefaultRadiosExample"
              mdbInputDirective
            >
            <label
              class="custom-control-label"
              for="defaultInline2"
            >Mrs.</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Add a note
              <i class="material-icons note">
                notes
              </i>
            </span>
            <textarea
              class="form-control"
              name="description"
              #newPhoneDescription='ngModel'
              [(ngModel)]="description"
              aria-label="With textarea"
            ></textarea>
          </div>
        </div>

        <div class="form-group sub">
          <div class="col-auto">
            <button
              class="btn btn-default"
              type="submit"
              [disabled]="newPhoneForm.invalid"
            >
              Save <i class="material-icons">
                create
              </i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>



<ng-template #phoneModal>
  <div class="modal-body">
    Add a new contact?
  </div>
  <footer>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="cancel()"
    >Cancel</button>
    <button
      type="button"
      class="btn btn-success"
      (click)="save()"
    >Save</button>
  </footer>
</ng-template>