*{
  font-size: 20px;
}
.conteiner{
  width: 900px;
  margin: 0 auto;
  padding: 55px 34px;
}

.red{
  color: red;
  font-size: 16px;
}
small {
  font-size: 11px;
}

.boxes {
  margin: 6px 0;
} 

 p {
   margin: 0 0 -29px -34px;
} 
.radio-inline{
  margin-left: 63px;
  margin-bottom: 65px;
}
.coll {
  margin: 0 0px 0 45px;
}
.sub {
  margin: -83px 0 0 -29px;
}
.btn-default:hover {
  background-color: #a4a598;
}
  
img{
  width: 233px;
  height: 112px; 
  /* margin: 0px 20px 0 168px; */
}

.thumbnail {
  width: 223px;
  height: 112px;
  margin: 0px 20px 0 168px;
}

.image {
  width: 223px;
  height: 112px;
}

.image img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.image:hover img {
    transform:scale(0.8);
}